.modalDiv {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 62.5%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  z-index: 2;
}

.groupDiv1 {
  background-color: #202023;
  padding: 40px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 50%;
}

.groupDiv2 {
  background-color: #2d2d31;
  padding: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 50%;
}

.titleDiv {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-family: Aktiv Grotesk Corp;
  margin-bottom: 24px;
}

.contentDiv {
  font-family: Athletics;
}

.subtitleDiv {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 16px;
}

.linkText {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.inputGrpTitle {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
}

.inputGrp {
  margin-top: 24px;
}

.inputField {
  color: white;
  caret-color: white;
}

.inputField::placeholder {
  color: #676771;
}

.topInputSection {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2d2d31;
}

.bottomInputSection {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}

.value {
  background: linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.inputField {
  border: none;
  background: none;
  outline: none;
}

.valueGrp {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btns {
  display: flex;
  gap: 16px;
  margin-top: 40px;
}

.cancelBtn {
  background: #2d2d31;
  border-radius: 8px;
  padding: 8px 20px;
  border: none;
  color: #ffffff;
  font-family: Aktiv Grotesk Corp;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

.saveBtn {
  padding: 8px 20px;
  border: none;
  color: #050505;
  font-family: Athletics;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.8;
  background: linear-gradient(90deg, #00b2ec 0%, #d9ca0f 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.block {
  position: relative;
  width: fit-content;
}

.innerText {
  font-family: "Athletics";
  font-weight: 400;
  font-size: 9.97799px;
  line-height: 13px;
}

.curvedConnector {
  position: absolute;
  width: 90px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-top-right-radius: 10px;
  top: 25px;
  left: 170px;
  height: 47px;
}

.connector {
  border-left: 1px solid #ffffff;
  height: 20px;
  width: 2px;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.flexBlocks {
  display: flex;
  gap: 11px;
}
