.icon24cursor {
  position: absolute;
  top: 352px;
  left: 567px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  display: none;
}
.sortByTVL {
  flex: 1;
  position: relative;
  line-height: 24px;
  display: inline-block;
  opacity: 0.8;
}
.frameDiv1 {
  width: 82px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevronDownIcon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.frameDiv {
  position: absolute;
  top: 267px;
  left: 716px;
  border-radius: 8px;
  background-color: #050505;
  border: 1px solid #2d2d31;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 12px 16px;
  align-items: center;
  justify-content: center;
}
.frameDiv > * + * {
  margin-left: 24px;
}
.protocolsDiv {
  position: absolute;
  top: 263px;
  left: 64px;
  font-size: 40px;
  line-height: 56px;
  font-weight: 800;
  color: #fff;
  display: inline-block;
}
.rectangleIcon {
  left: 0;
  border-radius: 8px;
  width: 486px;
  height: 48px;
}
.icon1,
.rectangleIcon,
.textAreaDiv {
  position: absolute;
  top: 0;
}
.icon1 {
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.textAreaDiv {
  left: 40px;
  line-height: 24px;
  display: inline-block;
  opacity: 0.8;
}
.groupDiv1 {
  position: absolute;
  top: 12px;
  left: 16px;
  width: 222px;
  height: 24px;
}
.groupDiv,
.rectangleDiv {
  position: absolute;
  top: 267px;
  left: 890px;
  width: 486px;
  height: 48px;
}
.rectangleDiv {
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: #202023;
  width: 304px;
  height: 508px;
}
.aggregaredTVLDiv,
.mDiv {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  display: inline-block;
}
.mDiv {
  left: 212px;
  font-weight: 800;
  color: #fff;
  text-align: right;
}
.frameDiv3 {
  position: absolute;
  top: 316px;
  left: 24px;
  width: 256px;
  height: 24px;
}
.appuniswaporgDiv {
  position: absolute;
  top: 0;
  left: 126px;
  line-height: 24px;
  font-weight: 800;
  color: #fff;
  text-align: right;
  display: inline-block;
}
.contentCopyIcon {
  top: 2px;
  left: 236px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.contentCopyIcon,
.div,
.frameDiv4 {
  position: absolute;
}
.frameDiv4 {
  top: 356px;
  left: 24px;
  width: 256px;
  height: 24px;
}
.div {
  top: 0;
  left: 247px;
  line-height: 24px;
  font-weight: 800;
  color: #fff;
  text-align: right;
  display: inline-block;
}
.frameDiv5,
.frameIcon {
  position: absolute;
  top: 396px;
  left: 24px;
  width: 256px;
  height: 24px;
}
.frameIcon {
  top: 180px;
  left: 96px;
  width: 112px;
  height: 112px;
}
.enterProtocolDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 24px;
  font-weight: 900;
  display: inline-block;
}
.groupDiv2 {
  position: relative;
  width: 110px;
  height: 24px;
  flex-shrink: 0;
}
.buttonDiv {
  position: absolute;
  top: 444px;
  left: 24px;
  border-radius: 4px;
  background: linear-gradient(90deg, #00b2ec, #d9ca0f);
  width: 262px;
  display: flex;
  flex-direction: row;
  padding: 8px 64px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: #2d2d31;
}
.rectangleIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 304px;
  height: 80px;
}
.aPY234Div {
  position: relative;
  line-height: 32px;
  font-weight: 800;
  display: inline-block;
}
.frameDiv6 {
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 21px;
  color: #fff;
}
.checkDecagramIcon,
.verifiedDiv {
  position: relative;
  height: 16px;
  flex-shrink: 0;
}
.verifiedDiv {
  line-height: 20px;
  display: inline-block;
  width: 43px;
}
.checkDecagramIcon {
  width: 16px;
  overflow: hidden;
}
.frameDiv7 {
  position: absolute;
  top: 24px;
  left: 185px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #fff;
}
.frameDiv7 > * + * {
  margin-left: 4px;
}
.aaveB,
.ethereumNetworkDiv {
  position: absolute;
  display: inline-block;
}
.aaveB {
  top: 104px;
  left: 125px;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-align: center;
}
.ethereumNetworkDiv {
  top: 140px;
  left: 92px;
  line-height: 24px;
}
.frameDiv2,
.rectangleDiv1 {
  position: absolute;
  width: 304px;
}
.frameDiv2 {
  top: 343px;
  left: 64px;
  height: 509px;
  overflow: hidden;
}
.rectangleDiv1 {
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: #202023;
  height: 468px;
}
.buttonDiv1 {
  position: absolute;
  top: 404px;
  left: 24px;
  border-radius: 4px;
  background: linear-gradient(90deg, #00b2ec, #d9ca0f);
  width: 262px;
  display: flex;
  flex-direction: row;
  padding: 8px 64px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: #2d2d31;
}
.frameDiv8 {
  position: absolute;
  top: 983px;
  left: 64px;
  width: 304px;
  height: 468px;
  overflow: hidden;
}
.div2,
.rectangleDiv2 {
  position: absolute;
  top: 0;
}
.rectangleDiv2 {
  left: 0;
  border-radius: 16px;
  background-color: #202023;
  width: 304px;
  height: 548px;
}
.div2 {
  left: 242px;
  line-height: 24px;
  font-weight: 800;
  color: #fff;
  text-align: right;
  display: inline-block;
}
.frameDiv15 {
  position: absolute;
  top: 436px;
  left: 24px;
  width: 256px;
  height: 24px;
}
.buttonDiv2,
.uniswapB {
  position: absolute;
  text-align: center;
}
.buttonDiv2 {
  top: 484px;
  left: 24px;
  border-radius: 4px;
  background: linear-gradient(90deg, #00b2ec, #d9ca0f);
  width: 262px;
  display: flex;
  flex-direction: row;
  padding: 8px 64px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #2d2d31;
}
.uniswapB {
  top: 104px;
  left: 108px;
  font-size: 24px;
  line-height: 32px;
  display: inline-block;
  color: #fff;
}
.frameDiv13,
.frameDiv19 {
  position: absolute;
  top: 343px;
  left: 400px;
  width: 304px;
  height: 548px;
  overflow: hidden;
}
.frameDiv19 {
  top: 983px;
  height: 468px;
}
.inchB {
  position: absolute;
  top: 104px;
  left: 126px;
  font-size: 24px;
  line-height: 32px;
  display: inline-block;
  color: #fff;
  text-align: center;
}
.frameDiv24,
.frameDiv31 {
  position: absolute;
  top: 343px;
  left: 736px;
  width: 304px;
  height: 548px;
  overflow: hidden;
}
.frameDiv31 {
  top: 983px;
  height: 468px;
}
.alphaFinanceB {
  position: absolute;
  top: 104px;
  left: 77px;
  font-size: 24px;
  line-height: 32px;
  display: inline-block;
  color: #fff;
  text-align: center;
}
.frameDiv36,
.frameDiv42 {
  position: absolute;
  top: 343px;
  left: 1072px;
  width: 304px;
  height: 548px;
  overflow: hidden;
}
.frameDiv42 {
  top: 983px;
  height: 468px;
}
.rectangleDiv8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  width: 1312px;
  height: 103px;
}
.addNewPoolIn2min,
.isTheProtocolYouWantToAg {
  position: absolute;
  left: 0;
  display: inline-block;
}
.addNewPoolIn2min {
  top: 0;
  line-height: 27px;
  font-weight: 800;
}
.isTheProtocolYouWantToAg {
  top: 35px;
  font-size: 12px;
  line-height: 20px;
  color: #d8d8dc;
  opacity: 0.8;
}
.groupDiv11 {
  position: absolute;
  top: 24px;
  left: 80px;
  width: 611px;
  height: 55px;
}
.plusIcon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.addNewProtocol {
  position: relative;
  line-height: 24px;
  background-color:transparent;
  border:none;
  width: 100%;
  cursor: pointer;
}

.frameDiv49 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv49 > * + * {
  margin-left: 4px;
}
.frameDiv48 {
  position: absolute;
  top: 28px;
  left: 1090px;
  border-radius: 8px;
  background: linear-gradient(90deg, #00b2ec, #d9ca0f);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 12px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #050505;
}
.frameIcon8 {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 40px;
  height: 40px;
}
.frameDiv47,
.groupDiv10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1312px;
  height: 103px;
}
.groupDiv10 {
  top: 120px;
  left: 64px;
  font-size: 18px;
  color: #fff;
}
.ellipseIcon,
.yieldchainLogo1 {
  position: absolute;
  top: 44px;
  left: 64px;
  width: 164.83px;
  height: 32px;
  object-fit: cover;
}
.ellipseIcon {
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.iD65FG646Div {
  position: absolute;
  top: 24px;
  left: 0;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  display: inline-block;
}
.groupDiv13 {
  position: absolute;
  top: 0;
  left: 48px;
  width: 74px;
  height: 40px;
}
.chevronDownIcon1 {
  position: absolute;
  top: 10px;
  left: 138px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.groupDiv12 {
  position: absolute;
  top: 40px;
  left: 1031px;
  width: 158px;
  height: 40px;
  text-align: right;
  font-size: 16px;
  color: #fff;
}
.simpleIconslitecoin {
  position: relative;
  border-radius: 100px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  object-fit: cover;
}
.etherumDiv {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.frameDiv50 {
  position: absolute;
  top: 40px;
  left: 876px;
  border-radius: 4px;
  border: 1px solid #2d2d31;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.frameDiv50 > * + * {
  margin-left: 8px;
}
.frameDiv52,
.frameDiv53 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv52 {
  position: absolute;
  top: 40px;
  left: 1213px;
  border-radius: 8px;
  background-color: #fff;
  flex-direction: column;
  padding: 8px 40px;
  box-sizing: border-box;
  color: #050505;
}
.vaultB {
  position: relative;
  line-height: 24px;
  display: inline-block;
  background: linear-gradient(90deg, #00b2ec, #d9ca0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frameDiv55 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.portfolioDiv {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.groupDiv14 {
  position: relative;
  width: 65px;
  height: 24px;
  flex-shrink: 0;
}
.frameDiv54,
.frameDiv56 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameDiv54 {
  position: absolute;
  top: 48px;
  left: 528px;
  text-align: center;
  font-size: 16px;
}
.frameDiv54 > * + * {
  margin-left: 24px;
}
.dashboardDiv {
  position: relative;
  background-color: #050505;
  width: 100%;
  height: 1215px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #676771;
  font-family: Athletics;
}
